@model ServerlessCarRent.WebSite.Models.CarsController.CreateViewModel

@{
    ViewData["Title"] = "Create new car";
}

<h1>Create new car</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-3">
                <label asp-for="Plate" class="control-label"></label>
                <input asp-for="Plate" class="form-control" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group col-md-6">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-4">
                <label asp-for="PickupLocation" class="control-label"></label>
                <select asp-for="PickupLocation" asp-items="Model.PickupLocations" class="form-control"></select>
                <span asp-validation-for="PickupLocation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-2">
                <label asp-for="CostPerHour" class="control-label"></label>
                <input asp-for="CostPerHour" class="form-control" />
                <span asp-validation-for="CostPerHour" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-3">
                <label asp-for="Currency" class="control-label"></label>&nbsp;&nbsp;
                <select asp-for="Currency" asp-items="Model.Currencies" class="form-control"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
