@model ServerlessCarRent.WebSite.Models.CarsController.EditViewModel

@{
    ViewData["Title"] = $"Edit car : {Model.Plate}";
}

<h1>Car Details</h1>
<br />
<div class="row">
    <div class="col-md-10">
        <h2>Plate: @Model.Plate</h2>
        <h3>Model: @Model.Model</h3>
        <hr />
        <form asp-action="Edit">
            <input asp-for="Plate" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br/>
            <div class="form-group col-md-6">
                <label asp-for="PickupLocation" class="control-label"></label>
                <input asp-for="PickupLocation" class="form-control"/>
                <span asp-validation-for="PickupLocation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-3">
                <label asp-for="CurrentState" class="control-label"></label>&nbsp;&nbsp;
                <select asp-for="CurrentState" asp-items="Model.CarStates" class="form-control"></select>
                <span asp-validation-for="CurrentState" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-2">
                <label asp-for="CostPerHour" class="control-label"></label>
                <input asp-for="CostPerHour" class="form-control" />
                <span asp-validation-for="CostPerHour" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-3">
                <label asp-for="Currency" class="control-label"></label>&nbsp;&nbsp;
                <select asp-for="Currency" asp-items="Model.Currencies" class="form-control"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
