@model ServerlessCarRent.WebSite.Models.PickupLocationsController.EditViewModel

@{
    ViewData["Title"] = $"Edit pickup location : {Model.Identifier}";
}

<h1>Pickup Location Details</h1>
<br />
<div class="row">
    <div class="col-md-10">
        <h2>Location Id: @Model.Identifier</h2>
        <hr />
        <form asp-action="Edit">
            <input asp-for="Identifier" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br/>
            <div class="form-group col-md-6">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-2">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-3">
                <label asp-for="Status" class="control-label"></label>&nbsp;&nbsp;
                <select asp-for="Status" asp-items="Model.PickupLocationStates" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
